body{
    font-family: Verdana, "Geneva", Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    background-color: #171A21;
    display: flex;
    flex-flow: column;
}

.ph-flag-header{
    height: auto;
    width: 50%;
    max-width:100px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 1;
    padding: 10px 5%;
}
.header-links{
    display: flex;
    color: whitesmoke;
    gap: 15px;
}

.body-1{
    display: flex;
    background-color: #1b2838;
    color: #F9FAF8 ;
    padding: 5vw;

}

.body-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
    background-color: #3A5973;
    padding-top: 10px;
    padding-bottom: 100px;
}
.box-containers{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap:wrap ;
    gap: 30px;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.img-park{
    height: 200px;
    width: 200px;
    border-radius: 30px;
}
.img-text-container{
    max-width: 400px;
    height: auto;
    flex: 1 1 300px;
}
.title-text{
    font-size: 30px;
    font-weight: 700;
    color: whitesmoke;
    padding: 40px;
}
.text{
    text-align: justify;
    color: whitesmoke;
}


.body-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1b2838;
    padding: 5vw;

}
.quote-credit{
    text-align: right;
    color: whitesmoke;
    font-size: 20px;
    font-style: italic;
}

.body-4{
    display: flex;
    background-color: #3A5973;
    /* padding: 100px; */
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: whitesmoke;
    margin: 5vw;
    padding: 5vw;
}
.button-nat-park{
    padding: 10px;
    border-radius: 25px;
    background-image: linear-gradient(to right, yellow ,blue ,red);
    font-size: 15px;
}
.body-5{
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    padding: 10px;
}

.img-body1{
    height: auto;
    width: 100%;
    max-width: 500px;
}

h1{
    font-size: 36px;
    font-weight: 700;
}

h2{
    font-weight: 300;
    font-size: 20px;
    color: whitesmoke;
}
